/* Universal Selectors */
* {
    color: #e7e3d7;
    font-family: Consolas, monospace;
    box-sizing: border-box;
}

/* Type Selectors */
/* Undefined: h1, ul, li, a */

body {
    background-color: #262433;
    margin-top: 2vh;
    margin-left: 2vh;
}

ul li {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Class Selectors */
/* Undefined: .recipe-list-container, .recipe, .recipe-link*/

.title-container {
    width: 300px;
    border-color: #514c72;
    border-style: inset;
    border-width: 10px;
}

.title {
    color: #dd9c10;
    font-weight: bold;
    text-align: center;
}

.recipe-link {
    color: #dd9c10
}

/* ID Selectors */

/* Mixed Combinator Selectors */