/* Universal Selectors */
* {
    color: #e7e3d7;
    font-family: Consolas, monospace;
}

/* Type Selectors */
/* Undefined: h1, ul, li, a */

body {
    background-color: #262433;
    margin-top: 2vh;
    margin-left: 2vh;
}

/* Class Selectors */

.title {
    color: #dd9c10;
}

/* ID Selectors */