/* Universal Selectors */
* {
    color: #e7e3d7;
    font-family: Consolas, monospace;
    box-sizing: border-box;
}

/* Type Selectors */
/* Undefined: h1, div, p, a */

body {
    background-color: #262433;
    margin-top: 2vh;
}

/* Class Selectors */
/* Undefined: .recipe-list-container, .recipe, .recipe-link*/

.title-container, .recipe-list-container {
    margin: 0 auto;
    border-radius: 8px;
}

.title-container {
    width: 300px;
    background-color: #322a42;
}

.title {
    color: #dd9c10;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}

.recipe-list-container {
    width: 500px
}

.recipe {
    text-align: center;
    margin: 24px auto;
}

.recipe-link {
    color: #dd9c10
}

/* ID Selectors */

/* Mixed Combinator Selectors */